.card {
  display: block;
  background-color: $color-white;
  text-decoration: none;
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-black;
  }

  &--shadow {
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow $transition-duration--card;

    &:hover,
    &:focus {
      box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &--fill-height {
    height: 100%;
  }

  &--spotlight {
    p.card-title {
      font-family: $font-family--serif;
      font-size: $font-size--lg;
      font-weight: $font-weight--light;
    }
  }
}
