.carousel {
  $parent: &;
  $carousel-menu-item-border: 1px solid $color-teal--light;

  &__menu-items {
    margin: $spacing 0 ($spacing * 2) 0;

    @include mq($from: large) {
      display: flex;
    }
  }

  &__menu-item {
    position: relative;
    display: flex;
    border-top: $carousel-menu-item-border;

    .button {
      width: 100%;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    &:last-of-type {
      border-bottom: $carousel-menu-item-border;
    }

    @include mq($from: large) {
      flex: 1;
      border-bottom: $carousel-menu-item-border;

      &:not(:last-of-type) {
        margin-right: $spacing;
      }
    }

    &--selected {
      .button {
        color: $color-primary;
      }

      #{$parent}__selected-indicator {
        display: block;
      }
    }
  }

  &__selected-indicator {
    display: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 0.6rem;
    height: 0.6rem;
    background-image: url('../assets/images/bullet.svg');
    background-size: contain;
    transform: translateY(-50%);
  }

  &__carousel-container {
    padding-bottom: 50px;
  }

  // Slick vendor overrides
  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    z-index: 1;

    &:before {
      content: '';
      display: none;
      width: 50%;
      height: 50%;
      background: url('../assets/images/icon-caret.svg');
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 1;

      @include mq($from: large) {
        display: block;
      }
    }
  }

  .slick-prev {
    left: 0;

    &:before {
      transform: rotate(90deg);
    }
  }

  .slick-next {
    right: 0;

    &:before {
      transform: rotate(-90deg);
    }
  }

  .slick-dots {
    bottom: -50px;

    li {
      button {
        &:before {
          font-size: 12px;
          opacity: 0.5;
          color: $color-primary;
        }
      }

      &.slick-active {
        button {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  &:hover {
    .slick-prev,
    .slick-next {
      opacity: 1;
    }
  }
}
