.card {
  text-decoration: none;
  color: $color-black;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.08);
  transition: box-shadow $transition-duration--card;

  &:hover,
  &:focus {
    color: $color-black;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}
