.categories-list {
  $parent: &;
  $categories-list-border: 1px solid $color-gray--medium;

  @extend .list--unstyled;
  display: flex;
  flex-wrap: wrap;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__category {
    position: relative;
    width: 100%;

    &--selected {
      #{$parent}__link {
        color: $color-primary;
      }

      #{$parent}__selected-indicator {
        display: block;
      }
    }

    @include mq($from: large) {
      width: 90%;
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: ($spacing / 2) 2rem ($spacing / 2) 0;
    border-bottom: $categories-list-border;
    text-decoration: none;
  }

  &__selected-indicator {
    display: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    width: .6rem;
    height: .6rem;
    background-image: url('../assets/images/bullet.svg');
    background-size: contain;
    transform: translateY(-50%);
  }

  &--later-column-with-all {
    @include mq($from: large) {
      li:first-of-type {
        #{$parent}__link {
          border-top: $categories-list-border;
        }
      }
    }
  }
}
