.collapsible {
  $parent: &;

  &__filler {
    pointer-events: none;
  }

  &__content {
    overflow: hidden;
  }

  &--transition {
    #{$parent}__filler,
    #{$parent}__content {
      transition: height $transition-duration--collapse-fast;
    }
  }

  &--transition-slow {
    #{$parent}__filler,
    #{$parent}__content {
      transition: height $transition-duration--collapse-slow;
    }
  }
}
