.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 1rem;

    > * {
      flex-grow: 1;
    }

    &--2 {
      @include mq($from: medium) {
        flex-basis: calc(50% - #{$spacing / 2});
      }
    }

    &--3 {
      @include mq($from: large) {
        flex-basis: calc(33.33% - #{$spacing * 0.66});
      }
    }
  }
}
