$divider-animated-width: 70;

.divider {
  display: block;
  margin: $spacing 0;
  width: 100%;
  height: 30px;
  background-image: url('../assets/images/ekg-divider.svg');
  background-size: cover;
  background-position: center;

  &-animated {
    display: block;
    width: 70px;
    margin: $spacing auto;
  }
}
