.footer {
  background-color: #eff1f6;
  border-bottom: 3rem solid #263238;

  &__social-links {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: $spacing * 2;

    ul {
      max-width: 450px;
    }

    .icon {
      width: 1rem;
      height: 1rem;

      @include mq-from($breakpoint--sm) {
        width: 1.25rem;
        height: 1.25rem;
      }

      @include mq-from($breakpoint--md) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .logo {
      margin: 0 1rem;
      width: 50px;

      @include mq-from($breakpoint--sm) {
        width: 60px;
      }

      @include mq-from($breakpoint--md) {
        margin: 0 2rem;
        width: 70px;
      }
    }
  }
}