.footer {
  background-color: #007385;
  border-bottom: 3rem solid #007385;
  color: $color-white;

  a {
    color: $color-white;

    &:hover,
    &:focus {
      color: $color-white;
    }
  }

  &__social-links {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: $spacing * 2;

    ul {
      max-width: 450px;
    }

    .icon {
      width: 1rem;
      height: 1rem;
      fill: $color-white;
      color: $color-white;

      @include mq($from: small) {
        width: 1.25rem;
        height: 1.25rem;
      }

      @include mq($from: medium) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .logo {
      margin: 0 1rem;
      width: 50px;
      fill: $color-white;
      color: $color-white;

      @include mq($from: small) {
        width: 60px;
      }

      @include mq($from: medium) {
        margin: 0 2rem;
        width: 70px;
      }
    }
  }

  // Keep icons white on hover within footer
  .social-links a:hover .icon {
    fill: $color-white;
  }
}
