.gradient-image-columns {
  position: relative;
  background-color: $color-black;

  .left {
    display: flex;

    @include mq($from: large) {
      order: 1;
    }
  }

  .right {
    @include mq($from: large) {
      order: 2;
    }
  }

  &__content {
    margin: 0 auto;
    padding-bottom: $spacing;

    @include mq($from: large) {
      margin-right: $spacing * 2;
      margin-bottom: -($spacing * 2);
      padding-bottom: 0;
    }
  }

  &__gradient {
    position: relative;
    height: 300px;
    width: calc(100% + #{($spacing * 2)});
    margin-left: -$spacing;

    @include mq($from: large) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 50%;
      height: auto;
      width: auto;
      margin-left: 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to top, $color-black 0%, transparent 20%, transparent 100%);

      @include mq($from: large) {
        background: linear-gradient(to right, $color-black 0%, transparent 20%, transparent 100%);
      }
    }
  }
}
