.hubspot-form {
  background-color: $color-white;

  .header--lg {
    margin: 0;
  }

  // Hubspot overrides
  label {
    @extend .label;
  }

  .hs-input {
    @extend .form-control;
  }

  .hs-input.error {
    @extend .form-control--has-error;
  }

  textarea.hs-input {
    @extend .form-control--textarea;
  }

  .hs-error-msgs {
    list-style: none;
    padding-left: 0;
    margin-top: -$spacing;

    label {
      @extend .text--sm;
      color: $color-red;
    }
  }

  .hs-form-required,
  .hs_error_rollup {
    display: none;
  }

  &--inline {
    @include mq($from: large) {
      form,
      .hs-form-field {
        display: flex;
        align-items: center;
      }

      form > div,
      .input {
        flex: 1;
      }

      label {
        margin-right: $spacing;
      }

      .hs-input {
        margin-bottom: 0;
      }

      .hs-submit {
        flex: 0 0 150px;
        margin-left: $spacing;
      }
    }
  }

  &--breakout {
    margin-top: -2rem;

    @include mq($from: large) {
      margin-top: -1rem;
      margin-bottom: -1rem;
    }
  }
}
