.quote {
  $parent: &;
  padding: $spacing * 2;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  @include mq($from: medium) {
    padding: $spacing * 3;
  }

  .divider {
    &:first-of-type {
      margin-bottom: $spacing * 3;
    }
    &:last-of-type {
      margin-top: $spacing * 2;
    }
  }

  &__content {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../assets/images/quote.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:before {
      top: -25px;
    }

    &:after {
      bottom: -25px;
      right: 0;
      transform: rotateX(180deg) scaleX(-1);
    }
  }

  &--lg {
    #{$parent}__content {
      &:before,
      &:after {
        @include mq($from: large) {
          width: 30px;
          height: 30px;
        }
      }

      &:before {
        @include mq($from: large) {
          top: -35px;
          left: -35px;
        }
      }

      &:after {
        @include mq($from: large) {
          bottom: -35px;
          right: -35px;
        }
      }
    }
  }
}
