.button {
  @extend .text--uppercase;
  @extend .text--spacing;
  display: inline-block;
  padding: .375rem 1rem;
  background-color: transparent;
  font-size: $font-size--base;
  font-weight: $font-weight--bold;
  line-height: $line-height--base;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  transition:
    background-color $transition-duration--button,
    border-color $transition-duration--button,
    color $transition-duration--button;

  &:focus {
    // @include focus();
    // outline: 0;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }

  &--primary {
    border: 1px solid $color-primary--light;
    color: $color-primary;

    &:hover {
      background-color: $color-primary--lightest;
    }

    &:active {
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-white;
    }
  }

  &--transparent {
    border: none;
  }
}
