.case-study {
  .header--md + .header--sm {
    margin-top: 0;
  }

  .video {
    max-width: 100%;
  }

  &.insidetracker-nutrition-science {
    .hero__image {
      background-position: top center;
    }
  }
}
