.label {
  @extend .text--sm;
  @extend .text--gray;
  display: block;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.5rem;
  margin-bottom: $spacing;
  border: 1px solid $color-gray--medium;
  appearance: none;
  border-radius: 0;
  padding: 10px;

  &--textarea {
    height: 8rem;
    resize: none;
  }

  &--has-error {
    border-color: $color-red;
  }
}

.form-submit-button-orange-500.submit-button {
  background-color: $color-orange;
  &:hover {
    background-color: $color-primary--dark;
  }
}

.form-buttons-wrapper, .form-submit-clear-wrapper {
  padding: 20px 52px;
}
