.label {
  @extend .text--sm;
  @extend .text--gray;
  display: block;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.5rem;
  margin-bottom: $spacing;
  border: 1px solid $color-gray--medium;
  appearance: none;
  border-radius: 0;
  padding: 10px;

  &--textarea {
    height: 8rem;
    resize: none;
  }

  &--has-error {
    border-color: $color-red;
  }
}

.card.form-card {
  background: #F3F3FE;
}
.form-header {
    padding-top: 1px;
    z-index: 3;
  &.hiring-form-header {
    margin-left: 38px;
  }
  &.contact-form-header {
    margin-left: 23px;
  }
}