.image {
  &--max-width {
    width: 100%;
  }

  &--max-width-half {
    max-width: 50%;
  }

  &--max-width-80 {
    max-width: 80%;
  }

  &--max-width-med {
    max-width: 500px;
  }

  &--max-width-small {
    max-width: 250px;
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.poster {
  border: 15px #ffeee4 solid;
  transition: box-shadow $transition-duration--card;

  &:hover {
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.08);
  }
}
