* {
  box-sizing: border-box;
}

body {
  &.has-overlay {
    overflow-y: hidden;
  }
}

.app {
  &__body {
    padding-top: $header-height;
  }
}

// Max width sizes should be in sync with variables
// in config.js
.max-width {
  max-width: 1020px;
  margin: 0 auto;

  &--sm {
    max-width: 600px;
  }

  &--md {
    max-width: 775px;
  }

  &--half-left {
    @include mq($from: large) {
      max-width: 510px;
      margin: 0 0 0 auto;
    }
  }

  &--half-right {
    @include mq($from: large) {
      max-width: 510px;
      margin: 0 auto 0 0;
    }
  }
}

.container {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-space-around {
    justify-content: space-around;
  }

  &--align-center {
    align-items: center;
  }

  &--fill-height {
    height: 100%;
  }
}

.content-padding {
  padding-left: $spacing;
  padding-right: $spacing;

  @include mq($from: large) {
    padding-left: $spacing * 2;
    padding-right: $spacing * 2;
  }

  &--double {
    padding-left: $spacing;
    padding-right: $spacing;

    @include mq($from: large) {
      padding-left: $spacing * 4;
      padding-right: $spacing * 4;
    }
  }
}

.hidden {
  &--sm {
    @include mq($until: medium) {
      display: none !important;
    }
  }
  &--md {
    @include mq($until: large) {
      display: none !important;
    }
  }
  &--lg {
    @include mq($from: large) {
      display: none !important;
    }
  }
  &--until-lg {
    @include mq($until: large) {
      display: none !important;
    }
  }
}

.equal-height-rows {
  display: grid;
  grid-auto-rows: 1fr;
}

.display {
  &--block {
    display: block;
  }

  &--inline-block {
    display: inline-block;
  }
}

.float {
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}
