%link {
  color: $color-secondary;
  text-decoration: underline;
  transition: color $transition-duration--button;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

a {
  @extend %link;
}

.social-links {
  a {
    display: flex;
    padding: 10px;

    &:hover {
      .icon {
        fill: $color-teal;
      }
    }
  }

  .icon {
    fill: $color-black;
  }
}
