%link {
  color: $color-secondary;
  text-decoration: underline;
  transition: color $transition-duration--button;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

a {
  @extend %link;
}

.social-links {
  a {
    display: flex;
    padding: 10px;

    &:hover {
      .icon {
        fill: $color-teal;
      }
    }
  }

  .icon {
    fill: $color-black;
  }
}

.publication-links {
  flex-wrap: wrap;

  li {
    flex-basis: 21%;
    flex-grow: 0;
  }

  img {
    width: 100%;
  }
}

.link {
  &--wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
}
