.ul {
  list-style-position: outside;
  list-style-type: none;
  list-style-image: url('../assets/images/bullet.svg');
  padding-left: 21px;

  @include mq($from: large) {
    padding-left: 0;
  }

  li {
    line-height: 1.5rem;
    padding: 0.2rem;

    .ul {
      padding-left: 15px;
    }
  }
}

.list--unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--half {
    @include mq($from: medium) {
      li {
        flex-basis: calc(50% - #{$spacing});
      }
    }
  }
}
