@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: $font-weight--normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../assets/fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: $font-weight--bold;
  font-style: normal;
}

body {
  font-family: $font-family--sans-serif;
  font-size: $font-size--base;
  line-height: $line-height--base;
  color: $color-black;
}

.text {
  &--sm {
    font-size: .875rem;
  }

  &--lg {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }

  &--xl {
    font-size: 1.75rem;
    line-height: 2.0625rem;

    @media only screen and (min-width: $breakpoint--lg) {
      font-size: 2.25rem;
      line-height: 2.625rem;
    }
  }

  &--bold {
    font-weight: $font-weight--bold;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--spacing {
    letter-spacing: 2px;
  }

  &--gray {
    color: $color-gray;
  }

  &--caption {
    @extend .text--gray;
    @extend .text--sm;
    line-height: 1.4375rem;
  }
}

.header {
  &--lg,
  &--xl {
    font-family: $font-family--serif;
  }

  &--sm {
    @extend .text--uppercase;
    @extend .text--spacing;
    @extend .text--gray;
    @extend .text--sm;
    line-height: 1.1875rem;

    @media only screen and (min-width: $breakpoint--lg) {
      font-size: $font-size--base;
      line-height: 1.375rem;
    }
  }

  &--md {
    @extend .text--bold;
    font-size: $font-size--base;
    line-height: 1.1875rem;
  }

  &--lg {
    @extend .text--lg;
  }

  &--xl {
    @extend .text--xl;
  }
}
