// These values should correspond with config in src/rework-pure-grids.js
$breakpoint--sm: 35.5em;
$breakpoint--md: 48em;
$breakpoint--lg: 54em;
$breakpoint--xl: 80em;

$mq-breakpoints: (
  small: $breakpoint--sm,
  medium: $breakpoint--md,
  large: $breakpoint--lg,
  extra-large: $breakpoint--xl,
);

$mq-base-font-size: $font-size--base !default;
