$color-white: #fff;
$color-black: #1d1b1a;
$color-gray: #787473;
$color-gray--light: #f6f6f6;
$color-blue: #f8fafe;
$color-orange: #e36216;
$color-teal: #007385;

$color-primary: $color-orange;
$color-primary--light: lighten($color-orange, 27%);
$color-primary--lightest: lighten($color-orange, 47%);

$color-secondary: $color-teal;
