$color-white: #fff;
$color-black: #1d1b1a;
$color-gray: #787473;
$color-gray--light: #fafafa;
$color-orange: #e5651c;
$color-orange--light: #fbbd9a;
$color-teal: #007385;

$color-primary: $color-orange;
$color-secondary: $color-teal;
