$font-family--serif: 'Adobe-Jenson-Pro', 'Georgia', serif;
$font-family--sans-serif: 'Open Sans', 'Arial', sans-serif;

// This should be in sync with variable in config.js
$font-size--base: 15px;

$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 600;

$line-height--base: 1.625rem;
