.3d-genai {
  .genai-image-max-width {
    display: block;
    max-width: 750px;
    margin: 0 auto;
  }

  .genai-carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .genai-carousel-button {
    max-width: 100px;
    padding: 2px;
    margin-right: 5px;

    img {
      display: block;
    }

    &.active {
      background-color: $color-orange;
    }
  }

  .genai-carousel-prev,
  .genai-carousel-next {
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    z-index: 1;
    flex-shrink: 0;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url('../assets/images/icon-caret.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
  }

  .genai-carousel-prev {
    margin-right: 10px;

    &:before {
      transform: rotate(90deg);
    }
  }

  .genai-carousel-next {
    margin-left: 10px;

    &:before {
      transform: rotate(-90deg);
    }
  }
}
