$corona-color--primary: #563c8d;
$corona-color--primary-med: #d6d2ea;
$corona-color--primary-light: #fbf9ff;
$corona-color--gray-dark: #424242;
$corona-font-weight--base: 400;
$corona-font-weight--bold: 600;
$corona-font-weight--extra-bold: 900;

.coronavirus {
  overflow-x: hidden;
  font-family: 'Montserrat', 'Open Sans', Sans-Serif;
  font-size: 16px;
  font-weight: $corona-font-weight--base;

  @include mq($from: large) {
    font-size: 18px;
  }

  a {
    color: $corona-color--primary;

    &:hover,
    &:focus {
      color: #3b4e98;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: $corona-font-weight--bold;
  }

  h4 {
    color: $corona-color--primary;
    font-size: 16px;
    margin-bottom: 0;

    @include mq($from: large) {
      font-size: 18px;
    }
  }

  h4 + p {
    margin-top: 0;
  }

  ul {
    padding-left: 18px;
    @include mq($from: large) {
      padding-left: 0;
    }
    li {
      padding: 0 0 1rem 0;
    }
  }

  strong {
    font-weight: $corona-font-weight--bold !important;
  }

  .button {
    background-color: $corona-color--primary;
    color: $color-white;
    font-size: 24px;
    padding: 2rem 4rem;
    margin: 3rem auto;

    &.button--sm {
      font-size: 18px;
      padding: 1.2rem 3.2rem;
    }

    &:hover,
    &:focus {
      color: $color-white;
      background-color: lighten($corona-color--primary, 10%);
    }
  }

  &-text {
    &--primary {
      color: $corona-color--primary;
    }

    &--lg {
      font-size: 28px;
      line-height: 40px;
    }

    &--bold {
      font-weight: $corona-font-weight--bold !important;
    }

    &--regular {
      font-weight: $corona-font-weight--base !important;
    }
  }

  .number-list-item {
    display: flex;

    &--number-container {
      flex: 0 0 12%;
    }

    &--number {
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-top: calc(1em - 8px);
      color: $color-white;
      background-color: $corona-color--primary;
      border-radius: 100%;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: $corona-font-weight--bold;
      }
    }

    &--content {
      flex: 1;
      margin-top: -5px;
    }
  }

  .hero {
    position: relative;

    &__image-container {
      min-height: 300px;
      @include mq($from: large) {
        height: 530px;
      }
    }

    &--small {
      .hero__image-container {
        height: 150px;
        min-height: 0;
      }

      .coronavirus-header-container {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
      }

      h2 {
        margin: 0;
        color: $corona-color--primary;
        font-weight: $corona-font-weight--bold;
        font-size: 30px;
        line-height: 49px;
        text-shadow: 0px 0px 30px rgba(81, 67, 111, 0.2);

        @include mq($from: large) {
          font-size: 48px;
          line-height: 78px;
        }
      }
    }
  }

  &-section-header {
    display: inline-block;
    min-width: 200px;
    background-color: $corona-color--primary;
    color: $color-white;
    padding: 0.5em 1em;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;

    @include mq($from: large) {
      margin-left: -1em;
      font-size: 18px;
    }
  }

  &-header-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    h1,
    h2 {
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    h1 {
      color: $corona-color--primary;
      font-size: 30px;
      line-height: 49px;
      text-shadow: 0px 0px 30px rgba(81, 67, 111, 0.2);

      @include mq($from: large) {
        font-size: 48px;
        line-height: 78px;
      }
    }
    h2 {
      margin-bottom: 0;
      font-size: 25px;
      font-weight: $corona-font-weight--base;

      @include mq($from: large) {
        font-size: 35px;
      }
    }
    p {
      margin-top: 0.5em;
    }
    h2,
    p {
      color: $corona-color--gray-dark;
    }
  }

  .corona-timeline {
    border-left: $corona-color--primary-med solid 3px;
    .timepoint {
      &.time-highlight {
        p {
          background: $corona-color--primary-med;
          border-radius: 5px;
        }
        .dot {
          height: 24px;
          width: 24px;
          border-radius: 12px;
          box-shadow: inset 0px 0px 0px 3px white;
          border: 1px solid;
          margin: 8px 10px 0 -14px;
        }
      }

      p {
        display: inline-block;
        margin-top: -2px;
        margin-bottom: 24px;
        padding: 10px;
        width: 90%;
      }
      .dot {
        display: inline-block;
        vertical-align: top;
        margin: 10px 10px 0 -12px;
        background: $corona-color--primary;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        &.dotted {
          background: #fff;
          border: $corona-color--primary dashed 1px;
        }
      }
      ul {
        margin: 0 0 0 15px;
        li {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .close-contact {
    @include mq($from: large) {
      margin-top: -250px;
      margin-left: 20vw;
    }
    @include mq($from: 1035px) {
      margin-top: -300px;
      margin-left: calc(20vw - ((100vw - 1020px) / 2));
      margin-bottom: 50px;
    }
  }

  .stay-calm {
    background-color: $corona-color--primary-light;
    transform: translate3d(0, 0, 0);

    @include mq($from: large) {
      max-width: 400px;
      margin-top: -400px;
    }
  }

  &-prejudice,
  &-masks {
    margin-bottom: 1em;

    @include mq($from: large) {
      background-color: $corona-color--primary-light;
    }
  }

  .mask-half {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    .pro-con {
      p {
        display: inline-block;
        width: 75%;
      }
      .pro-con-icon {
        display: inline-block;
        height: 44px;
        width: 44px;
        margin-right: 20px;
      }
    }
  }

  &-action-plan {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    @include mq($until: 1024px) {
      background-position: 100vw 0;
    }

    @include mq($from: 1024px) {
      min-height: 130vw;
    }
  }

  &-around-the-world {
    @include mq($from: 1024px) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      p {
        position: absolute;
        max-width: 400px;
        padding: 1em;

        &:not(:first-of-type):not(:last-of-type) {
          background-color: transparentize($color-white, 0.2);
        }

        &:first-of-type {
          bottom: 80%;
          left: calc(23vw - ((100vw - 1020px) / 2));
          max-width: 600px;
        }
        &:nth-of-type(2) {
          bottom: 55%;
          left: calc(60vw - ((100vw - 1020px) / 2));
        }
        &:nth-of-type(3) {
          bottom: 35%;
          left: calc(65vw - ((100vw - 1020px) / 2));
        }
        &:nth-of-type(4) {
          bottom: 20%;
          left: calc(58vw - ((100vw - 1020px) / 2));
        }
        &:nth-of-type(5) {
          bottom: 0;
          left: calc(23vw - ((100vw - 1020px) / 2));
          max-width: 750px;
        }
      }
    }

    &-mobile {
      @include mq($from: 1024px) {
        display: none;
      }
    }
  }

  &-action-end {
    position: relative;
    height: 185vw;

    .background-image {
      background-position: center bottom;
    }

    .content {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100vw;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      content: '';
      width: 100vw;
      height: 80px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      @include mq($until: large) {
        display: block;
      }
    }

    @include mq($until: 400px) {
      height: 300vw;
    }
    @include mq($from: 401px) {
      height: 250vw;
    }
    @include mq($from: 450px) {
      height: 200vw;
    }
    @include mq($from: 620px) {
      height: 165vw;
    }
    @include mq($from: 780px) {
      height: 160vw;
    }
    @include mq($from: large) {
      height: 83.3vw;
    }
  }

  &-logo {
    display: flex;
    margin-bottom: 2em;

    &--left {
      @include mq($from: large) {
        flex: 0 0 40%;
      }
    }

    .hidden--until-lg {
      padding-left: 2em;
    }
  }
}
