.button-group {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  .pure-u-lg-1-5 .button {
    width: 95%;
  }
  .pure-u-lg-1-3 .button {
    width: 95%;
  }
}

.poster {
  border: 15px #FFEEE4 solid;
}

.author {
  .authorImg {
    padding-top: 20px;
  }
}
