.button-group {
  .pure-u-lg-1-5 .button,
  .pure-u-lg-1-3 .button,
  .button  {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    @include mq($until: large) {
      width: 50%;
    }
    @include mq($until: small) {
      width: 100%;
    }
  }
}

.determinants-of-health {
  .poster {
    border: 15px #FFEEE4 solid;
  }

  .author {
    .authorImg {
      padding-top: 20px;
    }
  }
}
