.eligibility-engine {
    &__video {
      width: 100%;
      margin: 0 auto;
  
      video {
        width: 100%;
      }
  
      @include mq($from: large) {
        width: 100%;
      }
    }
  }
  