.textAlign {
  text-align: center;
}

.LayoutCenter {
  @media screen and (min-width: 690px) {
    text-align: left;
  }
  @media screen and (max-width: 690px) {
    text-align: center;
  }
}

.bg-light {
  background-color: #faf6f4;
}

.textLayout {
  @media screen and (min-width: 863px) {
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  @media screen and (max-width: 863px) {
  }
}

.mainImg {
  @media screen and (min-width: 600px) {
    min-width: 500;
  }
  @media screen and (max-width: 600px) {
    min-width: 300;
  }
}

.headerStyle {
  @media screen and (min-width: 863px) {
    padding-right: 2rem;
    margin-bottom: 0;
  }

  @media screen and (max-width: 863px) {
    padding-right: 0;
  }
}

.teal {
  color: #24434d;
}

.noTopMargin {
  @media screen and (max-width: 760px) {
    margin-top: 0;
  }
}

.ctaLayout {
  width: auto;
  min-width: 0;
  margin-top: 20;
  margin-bottom: 30;
}

.nbrStyle {
  font-size: 32px;
  color: #c9461d;
  font-family: Adobe Jensen Pro;
  letter-spacing: 1;
  line-height: 1.8;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  text-align: center;
  justify-content: center;
}

.card {
  text-align: left;
  margin-bottom: 5%;
}

.textCard {
  padding: 5%;
}

.headerCard {
  margin-bottom: 5%;
  margin-top: 5%;
}

.flip-parent {
  display: flex;
  flex-wrap: wrap-reverse;
}

.flip-child {
  flex: 1 1 300px;
}

.wrap-parent {
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  flex: 1 1 300px;
}
