.us-healthcare-problems {
  border: 10px solid green;

  .problem {
    padding: 20px 30px;
    margin: 30px 0;

    h4 {
      margin: 0 0 5px 0;
    }
    .divisionSection {
      margin-bottom: 30px;
      break-inside: avoid-column;
    }
  }
}

h3.determinant {
  margin-top: 0;
}

.doh {
  &__chart-legend {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;

    button {
      text-align: left;
    }

    li {
      flex-basis: 50%;
    }

    img {
      display: inline-block;
      max-width: 1.5rem;
      margin-right: 0.5rem;
      vertical-align: middle;
    }

    @include mq($from: small) {
      flex-wrap: nowrap;

      li {
        flex: 1;
      }

      button {
        text-align: center;
      }

      img {
        display: block;
        max-width: 60px;
        margin: 0 auto;
      }
    }

    &__label {
      @include mq($from: large) {
        display: none;
      }
    }
  }

  &__determinant-button {
    width: 100%;
  }
}
